NET "alufn<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "alufn<1>" LOC = P58 | IOSTANDARD = LVTTL;
NET "alufn<2>" LOC = P66 | IOSTANDARD = LVTTL;
NET "alufn<3>" LOC = P67 | IOSTANDARD = LVTTL;
NET "alufn<4>" LOC = P74 | IOSTANDARD = LVTTL;
NET "alufn<5>" LOC = P75 | IOSTANDARD = LVTTL;


NET "a<0>" LOC = P82 | IOSTANDARD = LVTTL;
NET "a<1>" LOC = P83 | IOSTANDARD = LVTTL;
NET "a<2>" LOC = P84 | IOSTANDARD = LVTTL;
NET "a<3>" LOC = P85 | IOSTANDARD = LVTTL;
NET "a<4>" LOC = P87 | IOSTANDARD = LVTTL;
NET "a<5>" LOC = P88 | IOSTANDARD = LVTTL;
NET "a<6>" LOC = P92 | IOSTANDARD = LVTTL;
NET "a<7>" LOC = P93 | IOSTANDARD = LVTTL;

NET "b<0>" LOC = P97 | IOSTANDARD = LVTTL;
NET "b<1>" LOC = P98 | IOSTANDARD = LVTTL;
NET "b<2>" LOC = P99 | IOSTANDARD = LVTTL;
NET "b<3>" LOC = P100 | IOSTANDARD = LVTTL;
NET "b<4>" LOC = P101 | IOSTANDARD = LVTTL;
NET "b<5>" LOC = P102 | IOSTANDARD = LVTTL;
NET "b<6>" LOC = P104 | IOSTANDARD = LVTTL;
NET "b<7>" LOC = P105 | IOSTANDARD = LVTTL;








